doctype
html
  head
    title Tickie Tackie Toe
    link(rel='stylesheet', href='/main.css')
  body
    h1 Tickie Tackie Toe
    .status
    .board
    script(src='/socket.io/socket.io.js')
    script(src='/main.js')
